@model Evarsity.Models.StudentPersonalDetails;

<table class="table table-hover table-responsive .table-bordered">
        <tbody>
            <tr>
                <th>Father Name</th>
                <th>Mother Name</th>
                <th>HomeTown</th>
                <th>Date of Birth</th>
                <th>Primary Education</th>
                <th>Secondary Education</th>
            </tr>   
        
                <tr>
                    <td>@Model.FatherName</td>
                    <td>@Model.MotherName</td>
                    <td>@Model.HomeTown</td>
                    <td>@Model.DateOfBirth</td>
                    <td>@Model.PrimaryEducation</td>
                    <td>@Model.SecondaryEducation</td>
                </tr>
            
        </tbody>
</table>

