@model IEnumerable<Employee>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped table-bordered">
            <thead>
                <tr class="text-center">
                    <th>Employee Name</th>
                    <th>Department</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model)
                {
                    <tr class="text-center">
                        <td>@employee.Name</td>
                        <td>@(employee.Department?.DepartmentName ?? "N/A")</td>

                        <td>
                            <a asp-controller="Employee" asp-action="GetEmployee" asp-route-Id="@employee.Id" class="btn btn-outline-primary"><i class="far fa-eye">Get Details</i></a>
                            @if (signInManager.IsSignedIn(User) && (User.IsInRole("Manager") || User.IsInRole("Admin")))
                            {
                                <a asp-controller="Administration" asp-action="UpdateUser" asp-route-Id="@employee.Id" class="btn btn-outline-success"><i class="fas fa-edit">Edit</i></a>
                                <form method="post" asp-controller="Administration" asp-action="DeleteUser" asp-route-Id="@employee.Id">
                                    <button type="submit" class="btn btn-outline-danger m-1">Delete</button>
                                </form>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if (signInManager.IsSignedIn(User) && (User.IsInRole("Manager") || User.IsInRole("Admin")))
        { 
            <a asp-controller="Account" asp-action="Register" class="btn btn-outline-success">Create</a>
        }
    </div>
</div>